/* Reseteig bàsic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #f5f7fa;
  color: #333;
  padding: 0;
  margin: 0;
}

/* Container general per al contingut */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Encapçalament */
header {
  background-color: #4a90e2;
  color: white;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header a {
  text-decoration: none;
  color: white;
}

header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Cos principal */
main {
  padding: 40px 30px;
  min-height: 62.4vh;
}

main h2 {
  color: #4a90e2;
  font-size: 2rem;
  margin-bottom: 20px;
}

main p {
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #555;
}

h2 a {
  text-decoration: none;
  color: #4a90e2;
}

ul {
  list-style-type: none;
  margin-bottom: 20px;
}

ul ul li {
  padding-left: 30px;
  box-sizing: border-box;
}

ul li {
  margin: 10px 0;
}

ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #4a90e2;
  padding: 10px 20px;
  /* border: 2px solid #4a90e2; */
  /* border-radius: 30px; */
  transition: background-color 0.3s, color 0.3s;
}

ul li a:hover {
  background-color: #4a90e2;
  color: white;
}

body::after {
  content: "";
  display: block;
  height: 0px;
  /* Set same as footer's height */
}

/* Peu de pàgina */
footer {
  background-color: #4a90e2;
  color: white;
  text-align: center;
  padding: 20px 0;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  height: 70px;
}

footer p {
  font-size: 0.9rem;
}

/* Animació suau per als enllaços */
a {
  transition: color 0.3s, background-color 0.3s;
}

h4 {
  font-size: 1em;
}
